@keyframes open-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes close-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes open-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes close-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes open-top {
  from {
    transform: translateY(-100vw);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes close-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vw);
  }
}

@keyframes open-bottom {
  from {
    transform: translateY(100vw);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes close-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vw);
  }
}

@keyframes Fade-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Fade-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
